<div class="container">
  <mat-card>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <form *ngIf="!loading" (submit)="onAddProperty()" #form="ngForm">
        <mat-form-field>
          <!--          <mat-label>-->
          <!--            Address-->
          <!--          </mat-label>-->
          <input
            matInput
            type="text"
            name="location"
            placeholder="Address"
            [(ngModel)]="property.location"
            ngModel>
        </mat-form-field>
<!--        <mat-error *ngIf="location.invalid">This field is required</mat-error>-->
      <p>
        <mat-form-field>
          <mat-label>
            Price
          </mat-label>
          <input
            matInput
            type="number"
            name="price"
            [(ngModel)]="property.price"
            ngModel>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>
            Size
          </mat-label>
          <input
            matInput
            type="number"
            name="size"
            [(ngModel)]="property.size"
            ngModel>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>
            Type
          </mat-label>
          <mat-select [(value)]="property.type">
            <mat-option value="LAND">Land</mat-option>
            <mat-option value="HOUSE">House</mat-option>
            <mat-option value="APARTMENT">Apartment</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <div>
        <button mat-raised-button type="button" (click)="filePicker.click()">
          Pick Image
        </button>
        <input type="file" #filePicker>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="submit">
        Save Property
      </button>
    </form>

  </mat-card>

</div>
